<% layout('./layouts/boilerplate') %>
    <div id="indexPage">
        <h1 class="text-center fw-light">The Canvas</h1>
        <a href="/painting/new">Creat new Canvas</a>
        <div class="canvases">
            <% for(let p of paintings) {%>
                <div class="card" id="indexCard">
                    <img src="<%= p.image  || p.images[0].url %>" class="card-img-top image-index" alt="...">
                    <div class="card-body" id="indexCardBody">
                        <h5 class="card-title">
                            <%= p.title %>
                        </h5>
                        <p class="card-text mt-4">
                            <%= p.description.substring(0,300) %> ...
                        </p>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Artist: <%= p.author.username.toUpperCase() %>
                        </li>
                    </ul>
                    <div class="p-2">
                        <a href="/painting/<%= p._id %>" class="btn btn-primary b-index">View <%= p.title %> </a>
                    </div>
                </div>
                <% } %>
        </div>
        <div class="mt-3">
            <%- include('../partial/pagination') %>
        </div>
    </div>